name: Maps cat

env:
  ACTION_MAIL: "o.gruetzmann@gmail.com"
  ACTION_NAME: "ogruetzmann"
  ACTION_FILENAME_MAPS: "GRpluginMaps"
  ACTION_FILENAME_STANDS: "GRpluginStands"

on:
  push:
    paths: 
      - 'GRpluginMaps/**'
      - 'GRpluginStands/**'

jobs:
    Merge:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@v2
          - name: Merge Maps
            run: cat $GITHUB_WORKSPACE/$ACTION_FILENAME_MAPS/*.txt >> $ACTION_FILENAME_MAPS.txt
          - name: Merge Stands
            run: cat $GITHUB_WORKSPACE/$ACTION_FILENAME_STANDS/*.txt >> $ACTION_FILENAME_STANDS.txt
          - name: Move Files
            run: mv *.txt ./Release/
          - name: Push
            uses: ludeeus/action-push@0.0.1
